---
import "@css/admin.css";
---

<aside>
  <a href="/admin/content/landing">Contenido</a>
  <a href="/admin/config-page/banner">Configurar pagina</a>
  <a>Administrar miembros</a>
  <a>Habilitar menus</a>
  <a>Cambio de diseño</a>
</aside >

<style>
  aside {
    position: fixed;
    left: 0;
    top: 80px;
    height: 100%;
    width: 200px;
    background-color: rgba(207, 205, 205, 0.616);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 100;
  }

  aside a {
    background: none;
    border: none;
    color: black; 
    width: 150px;
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
  }

  aside a:hover,
  aside a.active {
    background-color: white;
  }
</style>