---
import ContentSection from "@components/ContentSection.astro";
import Button from "@/components/button/Button.astro";
---
<ContentSection color="gray">
<!---------- Llamada a la acción ----------->
  <div class="cta-content">
    <h2>Únete a Nuestro Equipo</h2>
    <p class="text-header">
      Estamos siempre en busca de talento apasionado por la ciencia y la
      innovación. Descubre las oportunidades para estudiantes, investigadores y
      colaboradores.
    </p>
    <div class="cta-buttons">
      <Button variant="medium-white" href="/contact"> Contactar </Button>   
    </div>
  </div>
</ContentSection>
