---
import TextSection from "@components/TextSection.astro";
import ContentSection from "@components/ContentSection.astro";
---
<ContentSection color="gray">
<!-- ---------------------------Historia y misión---------------------- -->
  <div class="history-mission-content">
    <div class="history">
      <div class="badge">
        <span>Nuestra Historia</span>
      </div>
      <h2>Trayectoria y Evolución</h2>
      <TextSection>
        Fundado en 2010, nuestro grupo de investigación nació con el objetivo de
        abordar los desafíos energéticos del siglo XXI. Lo que comenzó como un
        pequeño equipo de tres investigadores en la Facultad de Ciencias, ha
        crecido hasta convertirse en un referente internacional en investigación
        multidisciplinar.
      </TextSection>
      <TextSection>
        A lo largo de los años, hemos expandido nuestras líneas de investigación
        para incluir inteligencia artificial, biotecnología y ciencia de
        materiales, manteniendo siempre nuestro compromiso con la sostenibilidad
        y la innovación responsable.
      </TextSection>
    </div>
    <div class="mission">
      <div class="badge">
      <span>Nuestra Misión</span>
      </div>
      <h2>Propósito y Valores</h2>
      <TextSection>
        Nuestra misión es generar conocimiento científico de vanguardia y
        desarrollar tecnologías innovadoras que contribuyan a un futuro más
        sostenible y equitativo. Nos esforzamos por traducir la investigación
        básica en soluciones prácticas que beneficien a la sociedad.
      </TextSection>
      <TextSection>
        Nuestros valores fundamentales incluyen la excelencia científica, la
        colaboración interdisciplinaria, la integridad en la investigación, la
        mentoría de nuevas generaciones de científicos y el compromiso con la
        divulgación del conocimiento.
      </TextSection>
    </div>
  </div>
</ContentSection>

