---
import ContentSection from "@components/ContentSection.astro";
---
<ContentSection color="white">
  <!-------------------------- Cabecera de la página ---------------->
    <div class="page-header-img">
      <div class="page-header-text">
        <h2>Quiénes Somos</h2>
        <p class="text-header">
          Somos un grupo multidisciplinar de investigadores dedicados a
          desarrollar soluciones innovadoras para los desafíos actuales en
          ciencia y tecnología.
        </p>
      </div>
      <div class="page-header-image">
        <img
          src="/img/quienessomos.png"
          alt="Quienes somos"
          class="img-quienesomos"
        />
      </div>
    </div>
</ContentSection>
