<!--------------------------- Reconocimientos-------------------- -->
<section class="recognition">
  <div class="recognition-content">
    <h2>Reconocimientos</h2>
    <p class="text-header">
      Nuestro trabajo ha sido reconocido por diversas instituciones nacionales e
      internacionales.
    </p>
    <div class="recognition-cards">
      <div class="recognition-card">
        <div class="icon"></div>
        <h3>Premio Nacional de Investigaci贸n</h3>
        <p class="text-header">
          Otorgado por el Ministerio de Ciencia e Innovaci贸n en reconocimiento a
          nuestra contribuci贸n en el campo de las energ铆as renovables.
        </p>
      </div>
      <div class="recognition-card">
        <div class="icon"></div>
        <h3>Centro de Excelencia</h3>
        <p class="text-header">
          Designaci贸n como Centro de Excelencia en Investigaci贸n Sostenible por
          la Uni贸n Europea.
        </p>
      </div>
      <div class="recognition-card">
        <div class="icon"></div>
        <h3>Premio a la Innovaci贸n</h3>
        <p class="text-header">
          Reconocimiento por parte de la industria a nuestras soluciones
          tecnol贸gicas en el 谩mbito de la eficiencia energ茅tica.
        </p>
      </div>
    </div>
  </div>
</section>
