---
import ContentSection from "@components/ContentSection.astro";
---
<ContentSection color="white">
<!-- ----------------------Visión y objetivos ------------------->
  <div class="vision-content">
    <h2>Nuestra Visión</h2>
    <p class="text-header">
      Aspiramos a ser un centro de referencia mundial en investigación
      interdisciplinar, reconocido por su contribución a la resolución de los
      grandes desafíos globales.
    </p>
    <div class="cards">
      <div class="card">
        <h3>Excelencia Científica</h3>
        <p class="text-header">
          Buscamos alcanzar los más altos estándares de calidad en nuestra
          investigación, publicando en revistas de alto impacto y participando
          en conferencias internacionales.
        </p>
      </div>
      <div class="card">
        <h3>Formación de Talento</h3>
        <p class="text-header">
          Nos comprometemos a formar a la próxima generación de investigadores,
          proporcionando un entorno estimulante para estudiantes de doctorado y
          jóvenes científicos.
        </p>
      </div>
      <div class="card">
        <h3>Transferencia de Conocimiento</h3>
        <p class="text-header">
          Trabajamos para que nuestros descubrimientos trasciendan el ámbito
          académico, colaborando con la industria y la sociedad para implementar
          soluciones prácticas.
        </p>
      </div>
    </div>
  </div>
</ContentSection>