---
import ContentSection from "@components/ContentSection.astro";
---
<ContentSection color="white">
<!-- ----------------------Visi贸n y objetivos ------------------->
  <div class="vision-content">
    <h2>Nuestra Visi贸n</h2>
    <p class="text-header">
      Aspiramos a ser un centro de referencia mundial en investigaci贸n
      interdisciplinar, reconocido por su contribuci贸n a la resoluci贸n de los
      grandes desaf铆os globales.
    </p>
    <div class="cards">
      <div class="card">
        <div class="card-icon"></div>
        <h3>Excelencia Cient铆fica</h3>
        <p class="text-header">
          Buscamos alcanzar los m谩s altos est谩ndares de calidad en nuestra
          investigaci贸n, publicando en revistas de alto impacto y participando
          en conferencias internacionales.
        </p>
      </div>
      <div class="card">
        <div class="card-icon"></div>
        <h3>Formaci贸n de Talento</h3>
        <p class="text-header">
          Nos comprometemos a formar a la pr贸xima generaci贸n de investigadores,
          proporcionando un entorno estimulante para estudiantes de doctorado y
          j贸venes cient铆ficos.
        </p>
      </div>
      <div class="card">
        <div class="card-icon"></div>
        <h3>Transferencia de Conocimiento</h3>
        <p class="text-header">
          Trabajamos para que nuestros descubrimientos trasciendan el 谩mbito
          acad茅mico, colaborando con la industria y la sociedad para implementar
          soluciones pr谩cticas.
        </p>
      </div>
    </div>
  </div>
</ContentSection>