---
// src/pages/index.astro
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Footer from '../components/Footer.astro';
import '../css/Banner.css';

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calumet</title>
	<link rel="icon" href="/logo-calumet.png" type="image/png" />  
</head>
  <body>
    <Header />
    <Banner />
    <Footer />
  </body>
</html>

