---
import AdminLayout from "@layouts/admin/AdminLayout.astro";
import TabContainer from "@components/TabContainer.astro";

export interface Props {
    active: number;
}
---

<AdminLayout>
    <h1>Administraci칩n de p치gina principal</h1>
    <p>Edita el contenido de las principales p치ginas del sitio web.</p>
     
   <!-- Navegaci칩n de botones -->
    <section class="top-bar">
        <div class="right-controls">
        <button class="outline small">Descartar</button>
        <button class="primary small">Guardar cambios</button>
        </div>
    </section>

    <TabContainer 
        items={[
            { name: "Banner", url: "/admin/config-page/banner" },
            { name: "Redes Sociales", url: "/admin/config-page/news" },
            { name: "Entidades afines y/o Patrocinadores", url: "/admin/config-page/entidad" },
            
        ]}
        active={Astro.props.active}
    />
    <slot/>
</AdminLayout>
