---
import Layout from "@layouts/Layout.astro";
import Sidebar from "@components/admin/Sidebar.astro";
---

<Layout>
    <main class="container">
        <Sidebar />
        <slot />
    </main>
</Layout>