<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grupo de Investigación</title>
  </head>

  <body>
    <!-------------- Banner con carrusel ----------------->
    <section class="banner">
      <div class="background active">
        <img src="src/img/Noticia1.png" alt="Imagen 1" />
        <div class="banner-content">
          <h1>
            Candidato a la Dirección en la Escuela de Ingeniería de Sistemas e
            Informática
          </h1>
          <p>
            En cumplimiento de la Resolución No. 0171 del 12 de febrero de 2025,
            el Consejo de la E scuela de Ingeniería de Sistemas e Informática
            informa que, tras el cierre del periodo de inscripción de
            candidatos.
          </p>
          <a href="#" class="btn">Leer más</a>
        </div>
      </div>
      <div class="background">
        <img src="src/img/Noticia2.png" alt="Imagen 2" />
        <div class="banner-content">
          <h1>¡Prepárate para las Pruebas Saber Pro y Saber TyT 2025-1!</h1>
          <p>
            El proceso de inscripción para presentar las pruebas del ICFES ya
            está en marcha. Asegúrate de cumplir con cada etapa, desde la
            preinscripción hasta la consulta de resultados. Revisa la infografía
            para conocer los plazos y requisitos
          </p>
          <a href="#" class="btn">Leer más</a>
        </div>
      </div>
      <div class="background">
        <img src="src/img/Noticia3.png" alt="Imagen 3" />
        <div class="banner-content">
          <h1>
            Estudiantes del doctorado en ciencias de la computación,
            participaron en la "AI Science and Society"
          </h1>
          <p>
            Esta conferencia se desarrolló en Paris y contó con conferencistas
            destacados en IA, como: Yann LeCun (turing award), Yoshua Bengio
            (turing award), entre otros destacados investigadores de I.A.
          </p>
          <a href="#" class="btn">Leer más</a>
        </div>
      </div>
      <div class="banner-controls">
        <button onclick="prevSlide()">&#10094;</button>
        <button onclick="nextSlide()">&#10095;</button>
      </div>
    </section>

    <!------------------------Sección de noticias ------------------->

    <section class="section">
      <div class="container">
        <h2 class="section-title">Noticias Recientes</h2>
        <p class="section-subtitle">
          Mantente al día con las últimas novedades y avances de nuestro grupo
          de investigación.
        </p>
        <div class="news-grid">
          <div class="news-card">
            <img src="src/img/NoticiaReciente1.png" alt="Noticia 1" />
            <div class="news-card-content">
              <h3>
                CONVOCATORIA ELECCIÓN DE REPRESENTANTE ESTUDIANTIL DE POSGRADO
                AL CONSEJO DE ESCUELA EISI
              </h3>
              <p>
                Teniendo en cuenta la resolución de rectoría N° 1073 de 2016,por la cual se establece el procedimiento para los procesos de
                elección de los representantes de los estudiantes de pregrado y posgrado ante los distintos Consejos de Escuela de la Universidad, el Decano de la Facultad de Ingenierías
                Fisicomecánicas convoca a los estudiantes y a las estudiantes de posgrado de la Escuela de Ingeniería de Sistemas e Informática
                para participar en el proceso electoral.
              </p>
              <a href="#" class="btn">Leer más</a>
            </div>
          </div>
          <div class="news-card">
            <img src="src/img/NoticiasRecientes2.png" alt="Noticia 2" />
            <div class="news-card-content">
              <h3>APOYO ECONÓMICO PARA ASISTIR A EVENTOS</h3>
              <p>
                La Facultad de Ingenierías Fisicomecánicas le informa que aún se
                encuentra abierta la convocatoria para postularse y recibir apoyo económico para ASISTIR A EVENTOS NACIONALES E
                INTERNACIONALES para presentar una ponencia o poster para el presente semestre 2025-1
              </p>
              <a href="#" class="btn">Leer más</a>
            </div>
          </div>
          <div class="news-card">
            <img src="src/img/NoticiaReciente3.png" alt="Noticia 3" />
            <div class="news-card-content">
              <h3>RECUERDA ASISTIR AL SEGUIMIENTO ACADÉMICO</h3>
              <p>
                La Universidad Industrial de Santander ha implementado un
                acompañamiento y asesoramiento a los estudiantes de pregrado en los semestres: primero, quinto y octavo, 
                que lo realizará un profesor planta del programa.
              </p>
              <a href="#" class="btn">Leer más</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Sección de líneas de investigación -->
    <section class="section research-lines">
      <div class="container">
        <h2 class="section-title">Líneas de Investigación</h2>
        <p class="section-subtitle">
          Exploramos diversas áreas de conocimiento para desarrollar soluciones
          innovadoras a los desafíos actuales.
        </p>
        <div class="team-grid">
          <div class="team-member">
            <img src="src/img/1.png" alt="Miembro 1" />
            <h3>Software</h3>
            <p>Desarrollo de problemas.</p>
          </div>
          <div class="team-member">
            <img src="src/img/2.png" alt="Miembro 2" />
            <h3>Inteligencia artificial</h3>
            <p>Aplicaciones</p>
          </div>
          <div class="team-member">
            <img src="src/img/3.png" alt="Miembro 3" />
            <h3>Tecnologias</h3>
            <p>Investigación distintas areas.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Sección de estadísticas -->
    <section class="section">
      <div class="container">
        <h2 class="section-title">Nuestro Impacto</h2>
        <div class="stats-grid">
          <div>
            <span>45+</span>
            <p>Publicaciones</p>
          </div>
          <div>
            <span>12</span>
            <p>Proyectos activos</p>
          </div>
          <div>
            <span>8</span>
            <p>Patentes</p>
          </div>
          <div>
            <span>20+</span>
            <p>Investigadores</p>
          </div>
        </div>
      </div>
    </section>

    <!-------------- Accion para el carrusel --------------------->
    <script>
      let currentSlide = 0;
      const slides = document.querySelectorAll(".background");

      function showSlide(index) {
        slides.forEach((slide, i) => {
          slide.classList.toggle("active", i === index);
        });
      }

      function nextSlide() {
        currentSlide = (currentSlide + 1) % slides.length;
        showSlide(currentSlide);
      }

      function prevSlide() {
        currentSlide = (currentSlide - 1 + slides.length) % slides.length;
        showSlide(currentSlide);
      }

      setInterval(nextSlide, 5000);
      
    </script>
        <!-------------- Colaborar con nosotros --------------------->

    <section class="banner1">
      <div class="banner1-content">
        <h1>¿Interesado en colaborar con nosotros?</h1>
        <p>
          Estamos abiertos a nuevas colaboraciones con investigadores,
          instituciones y empresas.
        </p>
        <div class="banner1-buttons">
          <a href="#" class="btn1 btn1-black">Contactar</a>
          <a href="#" class="btn1 btn1-white">Oportunidades</a>
        </div>
      </div>
    </section>
  </html>
</body>