---
import "@css/footer.css";
import Location from "@components/icons/Location.astro";
import Call from "@components/icons/Call.astro";
import Mail from "@components/icons/Mail.astro";
---
<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <h3>Grupo de Investigación</h3>
        <p>Dedicados a la investigación y desarrollo de soluciones innovadoras para los desafíos actuales.</p>
      </div>

      <div>
        <h3>Contacto</h3>
        <div class="contact-info">
          <div class="contact-item">
            <span class="icon"><Location /></span>
            <span>Universidad Industrial de Santander Cl. 9 #27 · 76344000</span>
          </div>
          <div class="contact-item">
            <span class="icon"><Call /></span>
            <span>+34 123 456 789</span>
          </div>
          <div class="contact-item">
            <span class="icon"><Mail /></span>
            <span>uisegresados@uis.edu.co.</span>
          </div>
        </div>
      </div>

      <div>
        <h3>Enlaces</h3>
        <ul class="footer-links">
          <li><a href="/whoweare">Quienes Somos</a></li>
          <li><a href="/investigation">Investigación</a></li>
          <li><a href="/publicaciones">Publicaciones</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>

      <div>
        <h3>Redes Sociales</h3>
        <ul class="footer-links">
          <li><a href="https://www.instagram.com/uis/?hl=es-la/">Instagram</a></li>
          <li><a href="https://www.facebook.com/GrupoCalumet/">Facebook</a></li>
          <li><a href="https://x.com/uis?lang=es">Twitter</a></li>
          <li><a href="https://www.youtube.com/channel/UCoJ8HJ27fIPzDjztvntL3Xg">Youtube</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2025 | Escuela de Ingeniería de Sistemas e Informática EISI-WEB | UIS Grupo de desarrollo de software calumet Lugares para construir comunidad</p>
    </div>
  </div>
</footer>
