---
import "../css/footer.css";
---

<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <h3>Grupo de Investigaci贸n</h3>
        <p>
          Dedicados a la investigaci贸n y desarrollo de soluciones innovadoras
          para los desaf铆os actuales.
        </p>
      </div>

      <div>
        <h3>Contacto</h3>
        <div class="contact-info">
          <div class="contact-item">
            <span class="icon"></span>
            <span>Universidad Industrial de Santander Cl. 9 #27 路 76344000</span
            >
          </div>
          <div class="contact-item">
            <span class="icon"></span>
            <span>+34 123 456 789</span>
          </div>
          <div class="contact-item">
            <span class="icon">锔</span>
            <span>uisegresados@uis.edu.co.</span>
          </div>
        </div>
      </div>

      <div>
        <h3>Enlaces</h3>
        <ul class="footer-links">
          <li><a href="/Quienessomos">Quienes Somos</a></li>
          <li><a href="/investigacion">Investigaci贸n</a></li>
          <li><a href="/publicaciones">Publicaciones</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>
        漏 2025 | Escuela de Ingenier铆a de Sistemas e Inform谩tica EISI-WEB | UIS
        Grupo de desarrollo de software calumet Lugares para construir comunidad
      </p>
    </div>
  </div>
</footer>
