---
import "../css/header.css";

const sections = [
  { name: "Inicio", link: "/" },
  { name: "Quienes Somos", link: "/whoweare" },
  { name: "Investigacion", link: "/investigation" },
  { name: "Contactenos", link: "/contact" },
];
---

<header class="header">
  <div class="header-container">
    <div class="contaninermenor">
      <!-- Contenedor menor para logo y t铆tulo -->
      <div class="icono_superior">
        <img src="logouis.png" alt="Logo UIS" />
        <img src="/logo-calumet.png" alt="Logo Calumet" />
      </div>

      <!--- T铆tulo inicial y bot贸n de men煤 m贸vil -->
      <div class="containertext">
        <a href="/" class="logo">
          <div class="content-grup">
            <span class="grupo_id">Calumet</span>
            <p>Grupo de Innovacion y Desarrollo</p>
          </div>
        </a>
      </div>
    </div>

    <button class="menu-button" id="menu-button">
      <span class="menu-icon">&#9776;</span>
    </button>

    <!-------- -----Navegaci贸n -------->
    <nav class="navigation" id="navigation">
      {
        sections.map((section) => (
          <a href={section.link} class="secciones-pag">
            {section.name}
          </a>
        ))
      }
    </nav>

    <!-- ---Bot贸n de Idioma y Bot贸n de Iniciar Sesi贸n ----->
    <div class="actions">
      <button class="language-button" id="language-button">
        <span class="language-text">ES</span>
        <!-- Texto del idioma -->
        <span class="language-icon"></span>
        <!-- cono de idioma -->
      </button>
      <button class="boton-ingresar">Iniciar Sesi贸n</button>
    </div>
  </div>
</header>

<script>
  // Script para alternar la visibilidad del men煤 en pantallas peque帽as
  const menuButton = document.getElementById("menu-button");
  const navigation = document.getElementById("navigation");

  if (menuButton && navigation) {
    menuButton.addEventListener("click", () => {
      navigation.classList.toggle("open");
    });

    // Script para cambiar el idioma
    const languageButton = document.getElementById("language-button");
    const languageText = languageButton?.querySelector(".language-text");

    let currentLanguage = "ES"; // Idioma inicial

    languageButton?.addEventListener("click", () => {
      // Cambia entre idiomas
      if (languageText) {
        if (currentLanguage === "ES") {
          currentLanguage = "EN";
          languageText.textContent = "EN";
        } else {
          currentLanguage = "ES";
          languageText.textContent = "ES";
        }
      }

      console.log(`Idioma cambiado a: ${currentLanguage}`);
    });
  }
</script>
