---
import "@css/header.css";
import Language from "@components/icons/Language.astro";
import Menu from "@components/icons/Menu.astro";


const sections = [
  { name: "Inicio", link: "/" },
  { name: "Quienes Somos", link: "/whoweare" },
  { name: "Investigacion", link: "/investigation" },
  { name: "Contactenos", link: "/contact" },
  { name: "Actualidad", link: "/present" },
  { name: "Iniciar Sesión", link: "/login" },
  
];
---

<header class="header">
  <div class="header-container">
    <div class="contaninermenor">
      <div class="icono_superior">
        <img src="/logo-calumet.png" alt="Logo Calumet" />
      </div>

      <div class="containertext">
        <a href="/" class="logo">
          <div class="content-grup">
            <span class="grupo_id">Calumet</span>
            <p>Grupo de Innovacion y Desarrollo</p>
          </div>
        </a>
      </div>
    </div>

    <button class="menu-button" id="menu-button">
      <span class="menu-icon"><Menu/></span>
    </button>

    <!-------- -----Navegación -------->
    <nav class="navigation" id="navigation">
      {
        sections.map((section) => (
          <a href={section.link} class="secciones-pag">
            {section.name}
          </a>
        ))
      }
    </nav>

    <!-- ---Botón de Idioma y Botón de Iniciar Sesión ----->
    <div class="actions">
      <button class="language-button" id="language-button">
        <span class="language-text">ES</span>
        <span class="language-icon"> <Language/></span>
      </button>
      <a href="/login" class="boton-ingresar">Iniciar Sesión</a>
    </button>
    </div>
  </div>
</header>

<script>
  // Script para alternar la visibilidad del menú en pantallas pequeñas
  const menuButton = document.getElementById("menu-button");
  const navigation = document.getElementById("navigation");

  if (menuButton && navigation) {
    menuButton.addEventListener("click", () => {
      navigation.classList.toggle("open");
    });

    // Script para cambiar el idioma
    const languageButton = document.getElementById("language-button");
    const languageText = languageButton?.querySelector(".language-text");

    let currentLanguage = "ES"; // Idioma inicial

    languageButton?.addEventListener("click", () => {
      // Cambia entre idiomas
      if (languageText) {
        if (currentLanguage === "ES") {
          currentLanguage = "EN";
          languageText.textContent = "EN";
        } else {
          currentLanguage = "ES";
          languageText.textContent = "ES";
        }
      }

      console.log(`Idioma cambiado a: ${currentLanguage}`);
    });
  }
</script>
