---
export interface Props {
    items: {
        name: string;
        url: string;
    }[]
}

const { items } = Astro.props;
---

<div class="tab-container">
    <ul class="tab-list">
        {
            items.map(item => 
                <li class="tab-item">
                    <a href=`${item.url}` class="tab-link">{item.name}</a>
                </li>
            )
        }
    </ul>
</div>

<style>
    .tab-container {
        font-size: 0.875rem;
        font-weight: 500;
        text-align: center;
        color: #6b7280;
        border-bottom: 1px solid #e5e7eb;
    }
    
    .tab-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -1px;
        padding: 0;
        list-style: none;
    }
    
    .tab-item {
        margin-right: 0.5rem;
    }
    
    .tab-link {
        display: inline-block;
        padding: 1rem;
        border-bottom: 2px solid transparent;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        text-decoration: none;
        color: inherit;
    }
    
    .tab-link:hover {
        color: #4b5563;
        border-bottom-color: #d1d5db;
    }
    
    .tab-link.active {
        color: #2563eb;
        border-bottom-color: #2563eb;
    }
    
    .tab-link.disabled {
        color: #9ca3af;
        cursor: not-allowed;
    }
    
   
    @media (prefers-color-scheme: dark) {
        .tab-container {
            color: #9ca3af;
            border-bottom-color: #374151;
        }
        
        .tab-link:hover {
            color: #d1d5db;
        }
        
        .tab-link.active {
            color: #3b82f6;
            border-bottom-color: #3b82f6;
        }
        
        .tab-link.disabled {
            color: #6b7280;
        }
    }
</style>