---
export interface Props {
    items: {
        name: string;
        url: string;
    }[];
    active: number
}

const { items, active } = Astro.props;
---

<div class="tab-container">
    <ul class="tab-list">
        {
            items.map((item, index) => 
                <li class="tab-item">
                    <a href=`${item.url}` class=`tab-link ${index == active ? "active" : ""}`>{item.name}</a>
                </li>
            )
        }
    </ul>
</div>

<style>
.tab-container {
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-item {
    margin-bottom: -1px; /* para que active quede encima */
}

.tab-link {
    display: inline-block;
    padding: 10px 16px;
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    border-bottom: none;
    border-radius: 0.25rem 0.25rem 0 0;
    color: #495057;
    text-decoration: none;
    transition: background-color 0.2s;
}

.tab-link:hover {
    background-color: #dfe3e6;
}

.tab-link.active {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    color: #212529;
    font-weight: 500;
}

</style>