.container {
  margin: 0 auto;
  padding: 10px 50px;
  position: relative;
}

.banner{
  width: 100%;
  aspect-ratio: 1/2;
}

.background.active {
  opacity: 1;
}

.banner-content h1 {
  font-size: 15px;
  color: --primary-white;
  margin-bottom: 10px;
}

.banner-content p {
  color: white;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.35); /* gris con 40% opacidad */

  /* Flexbox para organizar el contenido */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: flex-start; /* Alineación a la izquierda */
}

.date {
  font-size: 12px; 
  color: white;
}

a.btn:hover {
  background-color: black; /* Color más oscuro al pasar el mouse */
  transform: scale(1.02);   /* Efecto de zoom sutil */
  transition: all 0.2s;
}

.banner-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.banner-controls button {
  background-color: rgba(196, 192, 192, 0.5);
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.banner-controls button:hover {
  background-color: rgba(73, 67, 67, 0.581);
}

  /* -----------Estilos para los puntos indicadores */
  .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .dot.active {
    background-color: white;
    transform: scale(1.2);
  }


/*----------------------- Noticias recientes --------------------*/
.section {
  padding: 20px 0;
  background-color: --primary-white;
}

.fechanews {
  font-size: 12px; 
  color: #666;
}
.section-title { 
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.section-subtitle { 
  font-size: 1.2rem;
  text-align: center;
  color: black;
  margin-bottom: 40px;
}

.banner {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

/*---------------- Estilos de las tarjetas de noticias-------------------- */
.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.news-card {
  background-color: --primary-white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-card-content {
  padding: 20px;
}

.news-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-card p {
  font-size: 1rem;
  color: black;
  margin-bottom: 20px;
}

.news-card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c0c5c9;
  color: --primary-white;
  border-radius: 5px;
  text-align: center;
}

/*----------------- Seccion de Investigacion----------------*/
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 1rem;
  color: gray;
}

/* ----------------------------Estilos de estadísticas------------------- */

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  text-align: center;
}

.stats-grid div {
  background-color: --primary-white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stats-grid div span {
  font-size: 2.5rem;
  font-weight: bold;
  color: --primary-black;
}

.stats-grid div p {
  font-size: 1rem;
  color: #666;
}

/*-------------------- interesados en colaborar con nostros ------------------*/
.banner1-content {
  color: --primary-black;
}

.banner1-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner1-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.banner1-buttons {
  display: flex;
  gap: 20px;
}

.btn1 {  
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* ----------------------Boton de Contactar y Boton de opotunidades--------------------*/
.btn1-black, .btn1-white {/* Sin Tocar*/
  background-color: white;
  color: black;
}

.btn1-black:hover, .btn1-white:hover { /* Con accion*/
  background-color: gray;
  color: black;
}

  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .menu-button {
      display: block; /* Muestra el botón en pantallas pequeñas */
    }
  
    .navigation {
      display: none; /* Oculta la navegación en pantallas pequeñas */
      flex-direction: column; /* Coloca los elementos en columna */
      position: absolute; /* Posiciona la navegación de manera absoluta */
      top: 80px; /* Distancia desde la parte superior */
      right: 0; /* Alinea a la derecha */
      background-color: --primary-white; /* Fondo blanco */
      width: 100%; /* Ocupa todo el ancho */
      padding: 16px; /* Espaciado interno */
      border-bottom: 1px solid #e0e0e0; /* Borde inferior */
    }
  
    .navigation.open {
      display: flex; /* Muestra la navegación cuando tiene la clase "open" */
    }
  
    .actions {
      display: none; /* Oculta los botones de acción en pantallas pequeñas */
    }
  
    .contaninermenor {
      justify-content: space-between; /* Distribuye el espacio entre elementos */
    }
  }

  /* Media Queries para tamaños de texto responsivos */
@media (max-width: 768px) {
  .container {
    padding: 10px 30px;
      padding: 1rem;
      margin: 1rem;
     }
  
  .section-title {
    font-size: 1rem;
  }
  
  .section-subtitle {
    font-size: 1rem;
  }
  
  .banner-content {
    padding: 30px;
  }
  
  .banner-content h1 {
    font-size: 15px;
  }
  
  .banner-content p {
    font-size: 10px;
  }
  
  .banner1-content h1 {
    font-size: 1.8rem;
  }
  
  .banner1-content p {
    font-size: 0.9rem;
  }
  
  .news-card h3 {
    font-size: 1.3rem;
  }
  
  .news-card p {
    font-size: 0.9rem;
  }
  
  .team-member h3 {
    font-size: 1.1rem;
  }
  
  .team-member p {
    font-size: 0.9rem;
  }
  
  .stats-grid div span {
    font-size: 2rem;
  }
  
  .stats-grid div p {
    font-size: 0.9rem;
  }
  
  .menu-button {
    display: block; /* Muestra el botón en pantallas pequeñas */
  }

  .navigation {
    display: none; 
    flex-direction: column; /* Coloca los elementos en columna */
    position: absolute; /* Posiciona la navegación de manera absoluta */
    top: 80px; /* Distancia desde la parte superior */
    right: 0; /* Alinea a la derecha */
    background-color: --primary-white; /* Fondo blanco */
    width: 100%; /* Ocupa todo el ancho */
    padding: 16px; /* Espaciado interno */
    border-bottom: 1px solid #e0e0e0; /* Borde inferior */
  }

  .navigation.open {
    display: flex; 
  }

  .actions {
    display: none; 
  }

  .contaninermenor {
    justify-content: space-between; /* Distribuye el espacio entre elementos */
  }
}

/* Media Query para pantallas GRANDES (escritorio) */
@media (min-width: 992px) {
  .banner-content h1 {
    font-size: 40px; 
  }
}

