.container {
  max-width: 1200px; /* Ancho pagina*/
  margin: 0 auto;
  padding: 10px 50px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}

/*--------------------- Inicio Quienes Somos ---------------------*/
h2 {
  font-size: 32px;
}
.page-header {
  background-color: white;
  padding: 15px 20px;
}
.img-quienesomos {
  max-width: 100%;
  height: auto;
}
.page-header-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;

}
.page-header-image img {
  width: 100%;
  border-radius: 20px;
}
.page-header-img {
  /* Encierra todo */
  display: flex;
  align-items: center;
}

/*--------------------------- Historia y misión------------------- */
.history-mission {
/* Ancho pagina*/
  margin: 0 auto;
  padding: 10px 50px;
  background-color: #e0e0e05e;
  padding: 20px 50px;
}

.history-mission-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.badge .icon {
  font-size: 15px;
}

.history h2,
.mission h2 {
  font-size: 2rem;
  margin-top: 20px;
}

/* ------------------------------Visión y objetivos--------------- */
.vision {
  background-color: white;
  max-width: 1200px; /* Ancho pagina*/
  margin: 0 auto;
  padding: 40px 50px;
}

.vision-content {
  text-align: center;
}

.vision h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;

}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 6px #e0e0e0;
  text-align: center;
}

.card-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* ----------------------Áreas de investigación------------------------ */
.research-areas {
  margin: 0 auto;
  padding: 30px 50px;
  background-color: #e0e0e05e;
}

.research-areas-content {
  text-align: center;
}

.research-areas h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  background-color: #e0e0e0;
}

.tab.active {
  background-color: #e0e0e0;
  color: black;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* -----------------Reconocimientos ------------------*/
.recognition {
  max-width: 1200px; /* Ancho pagina*/
  margin: 0 auto;
  padding: 40px 50px;
}

.recognition-content {
  text-align: center;
}

.recognition h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.recognition-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
  /*border-top: 1px solid #e0e0e0; linea de decoracion*/
}

.recognition-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(145, 40, 40, 0.1);
  text-align: center;
}

.recognition-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/*------------ Llamada a la acción -------*/
.cta {
  background-color: black;
  color: #fff;
  margin: 0 auto;
  padding: 40px 50px;
  text-align: center;
}

.cta h2 {
  font-size: 2.5rem;
  margin-bottom: 0px;
  color: white;
}

.cta p {
  color: white;
  font-size: 1.1rem;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cta-button {
  background-color: #e0e0e0;
  color: black;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #0f0101;
  text-decoration: none;
  font-size: 1rem;
}

.cta-button.outline {
  background-color: #e0e0e0;
  border: 1px solid #0f0101;
  color: black;
}
