<section class="banner1">
    <div class="banner1-content">
      <h2>¿Interesado en colaborar con nosotros?</h2>
      <p>
        Estamos abiertos a nuevas colaboraciones con investigadores,
        instituciones y empresas.
      </p>
      <div class="banner1-buttons">
        <a href="#" class="btn1 btn1-black">Contactar</a>
        <a href="#" class="btn1 btn1-white">Oportunidades</a>
      </div>
    </div>
  </section>