---
import ContentSection from "@components/ContentSection.astro";
import Button from "@/components/button/Button.astro";

---
<ContentSection color="gray">
    <div class="banner1-content">
      <h2>¿Interesado en colaborar con nosotros?</h2>
      <p>
        Estamos abiertos a nuevas colaboraciones con investigadores,
        instituciones y empresas.
      </p>
      <div class="banner1-buttons">
        <Button variant="medium-white" href="/contact">Contactar</Button>    
      </div>
    </div>
  
</ContentSection>