<section class="section">
    <div class="container">
      <h2 class="section-title">Noticias Recientes</h2>
      <p class="section-subtitle">
        Mantente al día con las últimas novedades y avances de nuestro grupo
        de investigación.
      </p>
      <div class="news-grid">
        <div class="news-card">
          <img src="src/img/NoticiaReciente1.png" alt="Noticia 1" />
          <div class="news-card-content">
            <h3>
              CONVOCATORIA ELECCIÓN DE REPRESENTANTE ESTUDIANTIL DE POSGRADO
              AL CONSEJO DE ESCUELA EISI
            </h3>
            <p>
              Teniendo en cuenta la resolución de rectoría N° 1073 de 2016,por la cual se establece el procedimiento para los procesos de
              elección de los representantes de los estudiantes de pregrado y posgrado ante los distintos Consejos de Escuela de la Universidad, el Decano de la Facultad de Ingenierías
              Fisicomecánicas convoca a los estudiantes y a las estudiantes de posgrado de la Escuela de Ingeniería de Sistemas e Informática
              para participar en el proceso electoral.
            </p>
            <a href="#" class="btn">Leer más</a>
          </div>
        </div>
        <div class="news-card">
          <img src="src/img/NoticiasRecientes2.png" alt="Noticia 2" />
          <div class="news-card-content">
            <h3>APOYO ECONÓMICO PARA ASISTIR A EVENTOS</h3>
            <p>
              La Facultad de Ingenierías Fisicomecánicas le informa que aún se
              encuentra abierta la convocatoria para postularse y recibir apoyo económico para ASISTIR A EVENTOS NACIONALES E
              INTERNACIONALES para presentar una ponencia o poster para el presente semestre 2025-1
            </p>
            <a href="#" class="btn">Leer más</a>
          </div>
        </div>
        <div class="news-card">
          <img src="src/img/NoticiaReciente3.png" alt="Noticia 3" />
          <div class="news-card-content">
            <h3>RECUERDA ASISTIR AL SEGUIMIENTO ACADÉMICO</h3>
            <p>
              La Universidad Industrial de Santander ha implementado un
              acompañamiento y asesoramiento a los estudiantes de pregrado en los semestres: primero, quinto y octavo, 
              que lo realizará un profesor planta del programa.
            </p>
            <a href="#" class="btn">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </section>