---
import ContentSection from "@components/ContentSection.astro";
---
<ContentSection color="gray">
  <div class="container">
    <h2 class="section-title">Líneas de Investigación</h2>
    <p class="section-subtitle">
      Exploramos diversas áreas de conocimiento para desarrollar soluciones
      innovadoras a los desafíos actuales.
    </p>
    <div class="team-grid">
      <div class="team-member">
        <img src="src/img/1.png" alt="Miembro 1" />
        <h3>Software</h3>
        <p>Desarrollo de problemas.</p>
      </div>
      <div class="team-member">
        <img src="src/img/2.png" alt="Miembro 2" />
        <h3>Inteligencia artificial</h3>
        <p>Aplicaciones</p>
      </div>
      <div class="team-member">
        <img src="src/img/3.png" alt="Miembro 3" />
        <h3>Tecnologias</h3>
        <p>Investigación distintas areas.</p>
      </div>
    </div>
  </div>
</ContentSection>
