---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-calumet.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/css/global.css">
		<title>Calumet</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	body { 
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
	}

	h1{
		color: white;
	}

	h2, h3 { 
		margin: 0;
		color: #071e08;
	}

	a {/* Enlaces de botones*/
		text-decoration: none;
	}
</style>
